// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7.8125%;
    line-height: 100%;
    /* 80 / 1024 */
    display: table;
    z-index: 1000;

    .menu {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: $light-primary;
            margin: 6px 0;
            transition: 0.4s;
        }
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }


    ul {
        display: none;

        li {
            list-style: none;

            a {
                font-family: $nav-text-font-stack;
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 0.05em;
                color: $light-primary;
                cursor: pointer;

                &:hover {
                    color: $pink-dark;
                    text-decoration: none;
                }
            }
        }
    }

    @media only screen and (min-width:768px) {
        background-color: $bg-secondary;

        .menu {
            display: none;
        }

        ul {
            display: block;
            width: 100%;
            text-align: center;
            padding-inline-start: 0;
            margin-block-start: 0em;
            margin-block-end: 0em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            li {
                display: inline;
                margin: 0 15px;
            }
        }
    }
}

.active {
    color: $pink-primary;
    text-shadow: $lit-up;
}