{% extends 'base.html' %}
{% block content %}
<section>
    <div class="page page--sm about">
        <h1>Hey</h1>
        <p>
            My name is Christofer Saputra and I'm a fullstack software engineer.
            I have a particular focus on databases, web development, software design, and optimizing performance.
            In addition to those areas, I also engage in frontend projects and Android development.
        </p>
        <br>
        <p>See <a href="{{ SITEURL }}/pages/projects">my projects here</a>.</p>
        <br>
        <p>
            Apart from software engineering, I find enjoyment in long-distance running,
            occasionally participating in running events,
            and have a keen interest in billiards.
        </p>
        <br>
        <p>
            You can reach me at <a href="mailto:christofersaputra29@gmail.com">christofersaputra29@gmail.com</a>.
        </p>
    </div>
</section>
{% endblock %}
