{% extends 'base.html' %}
{% block content %}
<section>
    <div class="page tools">
        <h1>Credits</h1>
        <p>I used the following tools and took inspirations from other great people for this site</p>
        <ul>
            <li><a href="https://git-scm.com/">Git</a> & <a href="https://github.com/">Github</a> - Version control</li>
            <li><a href="https://code.visualstudio.com/">VSCode</a> - Code editor</li>
            <li><a href="https://getpelican.com/">Pelican</a> - Python static site generator</li>
            <li><a href="https://excalidraw.com/">Excalidraw</a> - Illustrations with a hand drawn look</li>
            <li><a href="https://jant.fr/">Jantana Hennard</a> - Web portfolio design inspirations</li>
            <li><a href="https://hakibenita.com/">Haki Benita</a> - Blog inspirations</li>
        </ul>
    </div>
</section>
{% endblock %}
