{% extends 'base.html' %}
{% block content %}
<section>
    <div class="page page--sm tools">
        <h1>Tools</h1>
        <p>These are the languages and tools I used for my software development.</p>
        <br>

        <h2>Backend</h2>
        <ul>
            <li>
                <img src="https://www.vectorlogo.zone/logos/cloudflare/cloudflare-icon.svg" alt="cloudflare"/>
                <div>
                    <a href="https://www.cloudflare.com/en-gb/">
                        Cloudflare
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/djangoproject/djangoproject-icon.svg" alt="django"/>
                <div>
                    <a href="https://www.djangoproject.com/">
                        Django
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/docker/docker-official.svg" alt="docker"/>
                <div>
                    <a href="https://www.docker.com/">
                        Docker
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git">
                <div>
                    <a href="https://git-scm.com/">
                        Git
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/gunicorn/gunicorn-icon.svg" alt="gunicorn">
                <div>
                    <a href="https://gunicorn.org">
                        Gunicorn
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/nginx/nginx-icon.svg" alt="nginx"/>
                <div>
                    <a href="https://www.nginx.com">
                        Nginx
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/postgresql/postgresql-vertical.svg" alt="postgresql"/>
                <div>
                    <a href="https://www.postgresql.org">
                        PostgreSQL
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/python/python-vertical.svg" alt="python"/>
                <div>
                    <a href="https://www.python.org">
                        Python
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/redis/redis-icon.svg" alt="redis"/>
                <div>
                    <a href="https://redis.io">
                        Redis
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite"/>
                <div>
                    <a href="https://www.sqlite.org/index.html">
                        SQLite
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/travis-ci/travis-ci-icon.svg" alt="travis"/>
                <div>
                    <a href="https://www.travis-ci.com">
                        Travis CI
                    </a>
                </div>
            </li>
        </ul>
        <br>

        <h2>Frontend</h2>
        <ul>
            <li>
                <img src="https://www.vectorlogo.zone/logos/w3_css/w3_css-official.svg" alt="css"/>
                <div>
                    <a href="https://www.w3schools.com/css/">
                        CSS
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma"/>
                <div>
                    <a href="https://www.figma.com/">
                        Figma
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-icon.svg" alt="html"/>
                <div>
                    <a href="https://www.w3.org/html/">
                        HTML
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/javascript/javascript-icon.svg" alt="javascript"/>
                <div>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
                        JavaScript
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/reactjs/reactjs-icon.svg" alt="react"/>
                <div>
                    <a href="https://reactjs.org/">
                        React
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/sass-lang/sass-lang-icon.svg" alt="sass"/>
                <div>
                    <a href="https://sass-lang.com">
                        SASS
                    </a>
                </div>
            </li>
        </ul>

        <h2>Android Dev</h2>
        <ul>
            <li>
                <img src="https://www.vectorlogo.zone/logos/kotlinlang/kotlinlang-icon.svg" alt="kotlin"/>
                <div>
                    <a href="http://kotlinlang.org">
                        Kotlin
                    </a>
                </div>
            </li>
            <li>
                <img src="{{ SITEURL }}/theme/images/jetpack-compose.png" alt="compose"/>
                <div>
                    <a href="https://developer.android.com/jetpack/compose">
                        Jetpack Compose
                    </a>
                </div>
            </li>
            <li>
                <img src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg" alt="firebase"/>
                <div>
                    <a href="https://firebase.google.com">
                        Firebase
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
