@import 'base/fonts';


// Color
:root {
    --theme-color: #899878;
    --theme-secondary-color: #987879;
    --primary-color: #121113;
    --secondary-color: #20232A;
    --primary-bg-color: #e4e6c3;
    --secondary-bg-color: #f7f7f2;
    --tertiary-bg-color: #222725;
}

[data-theme="dark"] {
    --theme-color: #899878;
    --theme-secondary-color: #987879;
    --primary-color: #f7f7f2;
    --secondary-color: #e4e6c3;
    --primary-bg-color: #20232A;
    --secondary-bg-color: #121113;
    --tertiary-bg-color: #222725;
}

// Variables
$primary-bg: var(--primary-bg-color);
$secondary-bg: var(--secondary-bg-color);
$tertiary-bg: var(--tertiary-bg-color);
$theme: var(--theme-color);
$theme-secondary: var(--theme-secondary-color);
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$montserrat: 'Montserrat', sans-serif;


// Font
.text{
    &-menu {
        font-size: 0.9rem;
        letter-spacing: -0.65px;
    }
}


// Clear
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $primary;
    font-family: $montserrat;
    transition: background .3s;
}

body {
    background: $primary-bg;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: $theme;
        height: 2px;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.2s ease-in-out;
        pointer-events: none;
    }

    &:hover {
        color: $theme;

        &::after {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

ul {
    list-style: none;
}

.hide {
    display: none;
}

// Mobile styling

.app-header {
    @extend .text-menu;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 100;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    &__title {
        font-size: inherit;
        font-weight: normal;
    }

    &__buttons {
        display: flex;
        gap: 1.5rem;
    }

    &__switch {
        background: $primary;
        width: 52px;
        height: 24px;
        padding: 3px 6px;
        border-radius: 24px;
        margin-top: -2.5px;
        transform: scale(0.8, 0.8);
        position: relative;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &-input {
            display: none;
        }

        &-input:checked + &-round {
            transform: translateX(0);
        }

        &-round {
            position: absolute;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            top: calc(50% - 9px);
            background: $primary-bg;
            transform: translateX(22px);
        }

        &-i {
            height: 100%;
            aspect-ratio: 1;
            background-size: 100%;
            background-repeat: no-repeat;

            &.sun {
                background-image: url('/img/sun.png');
            }


            &.moon {
                background-image: url('/img/moon.png');
            }
        }
    }
}

.home {
}

.home-intro {
}

.scroll {
    @extend .text-menu;
    position: fixed;
    bottom: 40px;
    right: 5%;
    display: flex;
    gap: 10px;

    svg {
        width: 0.75rem;
        display: inline-block;
        fill: $primary;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }
}

@media only screen and (min-width: 768px) {
    // Desktop styling
    .app-header {
        top: 65px;
    }

    .scroll {
        bottom: 65px;
    }
}

// Animations

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0.1rem); }
    10%  { transform: scale(1.1,.9)   translateY(0.2rem); }
    30%  { transform: scale(.9,1.1)   translateY(-0.3rem); }
    50%  { transform: scale(1.05,.95) translateY(0.3rem); }
    57%  { transform: scale(1,1)      translateY(0); }
    64%  { transform: scale(1,1)      translateY(0.1rem); }
    100% { transform: scale(1,1)      translateY(0.1rem); }
}
